! Set depth to make transparency work.
URxvt*depth: 32

!colors




URxvt.font:xft:Inconsolata:size=12, xft:DejaVu Sans Mono:size=11, xft:Droid Sans Japanese:size=11
URxvt.scrollBar: false
URxvt.internalBorder: 15
